body {
  margin: 0;
  background-color: #8EB69B;
}

.bg-primary{
  background-color: #DAF1DE !important;
  color: #0B2B26;
}

.form-primary {
  background-color: #DAF1DE; /* New background color */
  border-color: #DAF1DE; /* New border color */
}

.btn-primary {
  background-color: #235347; /* New background color */
  border-color: #235347; /* New border color */
}

.btn-primary:hover {
  background-color: #0B2B26; /* Darker shade for hover */
  border-color: #0B2B26;
}

.btn-outline-primary{
  border-color: #235347;
  color: #235347;
}

.btn-outline-primary:hover {
  background-color: #0B2B26; /* Darker shade for hover */
  border-color: #0B2B26;
}